<!--<button routerLink="/addgroup">Add Group</button>-->

<!--
<div *ngFor="let group of groups; let i=index" class="panel panel-group" role="tablist">
    <div id="accordion" class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href=" {{'#collapseListGroup' + i}}"
                    aria-expanded="true" aria-controls="collapseListGroup1">{{group.groupName}}
                </a>
            </h4>
            <div id="{{'collapseListGroup' + i}}" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="collapseListGroupHeading1" aria-expanded="true">
                <ul class="list-group">
                    <li *ngFor="let contact of group.contacts">
                        {{contact.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->

<!--
<div *ngFor="let group of groups; let i=index" class="panel panel-group" role="tablist">
    <div id="accordion" class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href=" {{'#collapseListGroup' + i}}"
                    aria-expanded="true" aria-controls="collapseListGroup1">{{group.groupName}}
                </a>
            </h4>
            <div id="{{'collapseListGroup' + i}}" class="panel-collapse collapse" role="tabpanel"
                aria-labelledby="collapseListGroupHeading1" aria-expanded="true"
                [class.selected]="group === selectedGroup" (click)="onSelect(group)">
                <ul class="list-group">
                </ul>
            </div>
        </div>
    </div>
</div>
-->
<div class="container">
    <table class="table-wrapper-scroll-y my-custom-scrollbar table table-hover">
        <tbody *ngFor="let group of groups">
            <tr [class.selected]="group === selectedGroup" (click)="onSelect(group)">
                <td><b> {{ group.groupName}} </b></td>
                <td>
                    <a><i class="fa fa-trash" type="button">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                    <a><i class="fa fa-pencil" type="button"></i></a>
                </td>
                <br />
            </tr>
            <ng-container *ngIf="selectedGroup === group">
                <tr *ngFor="let contact of group.contacts">
                    <td class="noBorder">
                        {{contact.name}}
                    </td>
                    <td class="noBorder">
                        <a><i class="fa fa-trash" type="button">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                        <a><i class="fa fa-pencil" type="button"></i></a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>