<body>
    <div class="fixed-bottom addbtn float-right">
        <button type="button " class="btn btn-primary float-right add-btn" routerLink="/addcontact">Add Contact</button>
    </div>

    
    <div class="container">
        <table class="table-wrapper-scroll-y my-custom-scrollbar table table-hover">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Phone numbers</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts" [class.selected]="contact === selectedContact"
                    (click)="onSelect(contact)" data-toggle="modal" data-target="#showContactModal">
                    <td *ngIf="contact.image; then thenBlock else elseBlock"></td>
                    <ng-template #thenBlock><img class="img-icon" src="{{contact.image}}" /></ng-template>
                    <ng-template #elseBlock><img class="img-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/9/93/Google_Contacts_icon.svg" />
                    </ng-template>
                    <td> {{ contact.name }}</td>
                    <td> {{ contact.mobile }}</td>
                    <td>
                        &nbsp;
                        <a><i class="fa fa-trash" type="button"
                                (click)="removeContact(contact)">&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
                        <a><i class="fa fa-pencil" [class.selected]="contact === selectedContact"
                                (click)="editContact(contact)"></i></a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--Show Contact Modal-->
    <div *ngIf="selectedContact" class="modal fade" id="showContactModal" tabindex="-1" role="dialog" aria-labelledby="showContactModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-contact-detail [contact]="selectedContact"></app-contact-detail>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
</body>
