<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-times float-right" aria-hidden="true" (click)="onCancel()"></i>
                    <h2>Update Group</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="groupForm" (ngSubmit)="groupForm.valid && onSubmit()">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-users"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="groupName"
                                [ngClass]="{'is-invalid':groupForm.get('groupName').touched && groupForm.get('groupName').invalid}"
                                placeholder="enter group name" />
                            <div class="invalid-feedback">
                                <div>group name is required</div>
                            </div>
                        </div>
                        Choose contacts:
                        <div *ngFor="let contact of contacts" id="contacts">
                            <div *ngIf="alreadySelectedContacts.includes(contact)">
                                <input type="checkbox" (change)="OnCheckBoxSelect(contact, $event)" checked>
                                {{ contact.name }}
                            </div>
                            <div *ngIf="!alreadySelectedContacts.includes(contact)">
                                <input type="checkbox" (change)="OnCheckBoxSelect(contact, $event)">
                                {{ contact.name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary float-right add_btn"
                                [disabled]="!groupForm.valid">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>