body {
    background-image: url('http://getwallpapers.com/wallpaper/full/4/b/7/235248.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150%;
    font-family: 'Numans', sans-serif;
}

.contactsList{
    min-height: 300px;
}
tr{
    text-align: left;
    align-content: initial;
}
td{
    min-width: 100px;
}
#details{
    margin-left: 35%;
}

