<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h2>Add Contact</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="addContact" (ngSubmit)="onSubmit()">
                        <div class="input-group form-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="contactname"
                                placeholder="contanct name">
                        </div>
                        Choose Img:
                        <div class="input-group form-group input-group-sm">
                            <input type="file" (change)="onImgChose($event)" formControlName="image" />
                        </div>
                        Add mobile numbers:
                        <div id="array" formArrayName="mobile">
                            <div *ngFor='let mob of mobile.controls; let i = index'>
                                <div class="input-group form-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="i">
                                </div>
                            </div>
                            <button type="button" (click)="add('mobile')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        Add Telephone numbers:
                        <div id="array" formArrayName="telephone">
                            <div *ngFor='let tel of telephone.controls;let i = index'>
                                <div class="input-group form-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="i">
                                </div>
                            </div>
                            <button type="button" (click)="add('telephone')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        Add mail addresses:
                        <div id="array" formArrayName="mail">
                            <div *ngFor='let m of mail.controls;let i = index'>
                                <div class="input-group form-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-at"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="i">
                                </div>
                            </div>
                            <button type="button" (click)="add('mail')">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </div>
                        <br />
                        <div class="input-group form-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-internet-explorer"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="website"
                                placeholder="website address">
                        </div>
                        <div class="input-group form-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" formControlName="username" placeholder="user name">
                        </div>
                        <button type="submit" class="btn btn-primary float-right login_btn">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<!--
<form [formGroup]="addContact" (ngSubmit)="onSubmit()">
    Name: <input id="name" formControlName="name" /><br />
    Groups: <div id="array" formArrayName="groups">
        <div *ngFor='let group of groups.controls;index as i'>
            <input [formControlName]="i" placeholder="groups">
        </div>
        <div>
            <button mat-mini-fab color="primary" type="button" (click)="add('groups')">
                <mat-icon>plus_one</mat-icon>
            </button>
        </div>
    </div>
    Image: <input type="file" (change)="onImgChose($event)" formControlName="image" /><br />
    Mobile: <div id="array" formArrayName="mobile">
        <div *ngFor='let mob of mobile.controls;index as i'>
            <input [formControlName]="i" placeholder="mobile">
        </div>
        <button mat-mini-fab color="primary" type="button" (click)="add('mobile')">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    Telephone: <div id="array" formArrayName="telephone">
        <div *ngFor='let tel of telephone.controls;index as i'>
            <input [formControlName]="i" placeholder="telephone">
        </div>
        <button mat-mini-fab color="primary" type="button" (click)="add('telephone')">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    Mail: <div id="array" formArrayName="mail">
        <div *ngFor='let m of mail.controls;index as i'>
            <input [formControlName]="i" placeholder="mail">
        </div>
        <button mat-mini-fab color="primary" type="button" (click)="add('mail')">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>
    Website: <input id="website" formControlName="website" /><br />
    Address: <input id="address" formControlName="address" /><br />
    User name: <input id="userName" formControlName="userName" /><br />
    <button type="submit">Add</button>
</form>
-->